body {
/*   font-family: Liberation Sans, Arial, Helvetica, sans-serif;
   font-size: 14px;
*/
}

.people {
   /* dark blue */
   color: #0066CC;
}

.coderelease {
   /* gray */
   color: #a0a0a0;
}

.commercial {
   /* red */
   color: red; 
}

.event {
   /* green */
   color: green;
}

.partner {
   /* purple */
   color: #9B30FF;
   font-size: medium;
}

.othertype {
   font-style: bold;
}
